* {
    background-color: #FEFCEC;
    color: #53131E;
    font-family: "Atma", system-ui;
    font-weight: 400;
    font-style: normal;
}

.atma-light {
    font-family: "Atma", system-ui;
    font-weight: 300;
    font-style: normal;
  }
  
  .atma-regular {
    font-family: "Atma", system-ui;
    font-weight: 400;
    font-style: normal;
  }
  
  .atma-medium {
    font-family: "Atma", system-ui;
    font-weight: 500;
    font-style: normal;
  }
  
  .atma-semibold {
    font-family: "Atma", system-ui;
    font-weight: 600;
    font-style: normal;
  }
  
  .atma-bold {
    font-family: "Atma", system-ui;
    font-weight: 700;
    font-style: normal;
  }

.navbar {
    background-color: #A0CED9;
    font-size: 20px;
}

.home {
    padding-top: 200px; 
    padding-left: 20px; 
}

.profile {
    padding-top: 200px;
    padding-left: 20px; 
}

.search {
    padding-top: 200px;
    padding-left: 20px; 
} 

.top-react-icons {
    background-color: #A0CED9;
    size: sm;
} 

.card-btn {
    background-color: #407177;
}