* {
  background-color: #FEFCEC;
  color: #53131E;
  font-family: "Atma", system-ui;
  font-weight: 400;
  font-style: normal;
}

.atma-light {
  font-family: "Atma", system-ui;
  font-weight: 300;
  font-style: normal;
}

.atma-regular {
  font-family: "Atma", system-ui;
  font-weight: 400;
  font-style: normal;
}

.atma-medium {
  font-family: "Atma", system-ui;
  font-weight: 500;
  font-style: normal;
}

.atma-semibold {
  font-family: "Atma", system-ui;
  font-weight: 600;
  font-style: normal;
}

.atma-bold {
  font-family: "Atma", system-ui;
  font-weight: 700;
  font-style: normal;
}

#happy-hour {
  padding-top: 200px;
  padding-left: 20px;
}

.navbar {
  background-color: #A0CED9;
  font-size: 20px;
}

.footer {
  background-color: #5A464C;
  font-size: 20px;
  color: #FEFCEC;
}

.footer-link {
  background-color: #5A464C;
  font-size: 20px;
  color: #FEFCEC;
}

.top-react-icons {
  background-color: #A0CED9;
  size: sm;
}

.btn.btn-primary {
  background-color: #5A464C;
  border-color: #5A464C;
}

.btn.btn-primary:hover {
  background-color: #53131E;
  border-color: #53131E;
}

.btn.btn-danger {
  background-color: #53131E;
  border-color: #53131E;
}

.btn.btn-danger:hover {
  background-color: #5A464C;
  border-color: #5A464C;
}

.transparent-icon {
  background-color: transparent;
  fill: white;
}

.saved-drinks-card-profile {
  min-width: 12rem;
  min-height: 25rem;
  max-width: 12rem;
  max-height: 25rem;
  overflow: hidden;
}

.saved-drinks-card-home {
  min-width: 15rem;
  min-height: 30rem;
  max-width: 15rem;
  max-height: 30rem;
  overflow: hidden;
}